@page "/"
@using SilvermineNordic.Repository.Models;
@using SilvermineNordic.Repository.Services;
@using SilvermineNordic.Repository;
@inject HttpClient Http
@inject ISilvermineNordicConfiguration SilvermineNordicConfiguration

<PageTitle>Snow Making Dashboard</PageTitle>

<input type="hidden" tabindex="-1" />
<h1 class="text-center">Silvermine Nordic</h1>
<br />
<div class="row">
    <div class="col">
        <div class="card bg-light mx-auto" style="width:170px">
            <div class="card-body">
                <div class="row">
                    <div class="text-center col-12">
                        Last Sensor (@TimeSinceLastSensorReadingString)
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-6">
                        @TemperatureLastSensorReadingString
                    </div>
                    <div class="text-center col-6">
                        @HumidityLastSensorReadingString
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="card bg-light mx-auto" style="width:170px">
            <div class="card-body">
                <div class="row">
                    <div class="text-center col-12">
                        Last Weather (@TimeSinceLastWeatherReadingString)
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-6">
                        @TemperatureLastWeatherReadingString
                    </div>
                    <div class="text-center col-6">
                        @HumidityLastWeatherReadingString
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="text-center col-12">
            <a class="btn btn-info btn-lg" @onclick="@LoadDataOnClick">Refresh</a>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light mx-auto" style="width:170px">
            <div class="card-body">
                <div class="row">
                    <div class="text-center col-md-12">
                        In The Zone
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-12">
                        @InTheZoneString
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="card bg-light mx-auto" style="width:170px">
            <div class="card-body">
                <div class="row">
                    <div class="text-center col-md-12">
                        Zone Forecast
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-12 small">
                        @ZoneChangeForecastString
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 text-center">
        <h3>Sensor Readings</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Make Snow</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var sensorCurrentDate = DateTime.MinValue;
                }
                @if (sensorReadingBind is not null)
                {
                    @foreach (var reading in sensorReadingBind)
                    {
                        <tr>
                            <td scope="row">@(sensorCurrentDate != reading.DateTimestampUtc.Date ? reading.DateTimestampUtc.ToLocalTime().Date.ToShortDateString() : "")</td>
                            <td>@reading.DateTimestampUtc.ToLocalTime().ToShortTimeString()</td>
                            <td>@(CelciusToFahr(reading.TemperatureInCelcius).ToString() + "°F")</td>
                            <td>@(reading.Humidity)%</td>
                            <td>@(InTheZoneService.IsInZone(thresholdBind, reading.TemperatureInCelcius, reading.Humidity) ? "Yes" : "")</td>
                        </tr>
                        @if (sensorCurrentDate.ToLocalTime() != reading.DateTimestampUtc.ToLocalTime().Date)
                        {
                            sensorCurrentDate = reading.DateTimestampUtc.ToLocalTime().Date;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-12 text-center">
        <h3>Weather Readings</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Make Snow</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var weatherCurrentDate = DateTime.MinValue;
                }
                @if (weatherReadingBind is not null)
                {
                    @foreach (var reading in weatherReadingBind)
                    {
                        <tr>
                            <td scope="row">@(weatherCurrentDate != reading.DateTimestampUtc.ToLocalTime().Date ? reading.DateTimestampUtc.ToLocalTime().Date.ToShortDateString() : "")</td>
                            <td>@reading.DateTimestampUtc.ToLocalTime().ToShortTimeString()</td>
                            <td>@(CelciusToFahr(reading.TemperatureInCelcius).ToString() + "°F")</td>
                            <td>@(reading.Humidity.ToString("N1"))%</td>
                            <td>@(InTheZoneService.IsInZone(thresholdBind, reading.TemperatureInCelcius, reading.Humidity) ? "Yes" : "")</td>
                        </tr>
                        @if (weatherCurrentDate.ToLocalTime() != reading.DateTimestampUtc.ToLocalTime().Date)
                        {
                            weatherCurrentDate = reading.DateTimestampUtc.ToLocalTime().Date;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-12 text-center">
        <h3>Thresholds</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Humidity Range</th>
                    <th scope="col">Temp Range</th>
                </tr>
            </thead>
            <tbody>
                @if (thresholdBind is not null)
                {
                    @foreach (var threshold in thresholdBind)
                    {
                        <tr>
                            <td>@threshold.HumidityLowThreshold.ToString("N0")% - @threshold.HumidityHighThreshold.ToString("N0")%</td>
                            <td>@CelciusToFahr(threshold.TemperatureInCelciusLowThreshold)°F - @CelciusToFahr(threshold.TemperatureInCelciusHighThreshold)°F</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-12 text-center">
        <h3>Weather Forecast</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Make Snow</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var forecastCurrentDate = DateTime.MinValue;
                }
                @if (weatherForecastBind is not null)
                {
                    @foreach (var model in weatherForecastBind)
                    {
                        <tr>
                            <td scope="row">@(forecastCurrentDate != model.DateTimeUtc.ToLocalTime().Date ? model.DateTimeUtc.ToLocalTime().Date.ToShortDateString() : "")</td>
                            <td>@model.DateTimeUtc.ToLocalTime().ToShortTimeString()</td>
                            <td>@(CelciusToFahr(model.TemperatureInCelcius).ToString() + "°F")</td>
                            <td>@(model.Humidity.ToString("N1"))%</td>
                            <td>@(InTheZoneService.IsInZone(thresholdBind, model.TemperatureInCelcius, model.Humidity) ? "Yes" : "")</td>
                        </tr>
                        @if (forecastCurrentDate.ToLocalTime() != model.DateTimeUtc.ToLocalTime().Date)
                        {
                            forecastCurrentDate = model.DateTimeUtc.ToLocalTime().Date;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    private string ApiUrl;
    private IEnumerable<SensorReading> sensorReadingBind;
    private List<Threshold> thresholds;
    private IEnumerable<SensorReading> weatherReadingBind;
    private string? TimeSinceLastSensorReadingString;
    private string TemperatureLastSensorReadingString;
    private string HumidityLastSensorReadingString;
    private string? TimeSinceLastWeatherReadingString;
    private string TemperatureLastWeatherReadingString;
    private string HumidityLastWeatherReadingString;
    private string InTheZoneString;
    private string ZoneChangeForecastString;
    private DateTime? zoneChangeForecast;
    private List<Threshold> thresholdBind;
    private IEnumerable<WeatherModel> weatherForecastBind;

    protected override async Task OnInitializedAsync()
    {
        ApiUrl = SilvermineNordicConfiguration.GetSilvermineNordicApiUrl();
        await LoadData(false);
    }

    protected async Task LoadDataOnClick(MouseEventArgs mouseEventArgs)
    {
        await LoadData(true);
    }

    private async Task LoadData(bool callStateHasChanged)
    {
        try
        {
            var sensorReading = await Http.GetFromJsonAsync<IEnumerable<SensorReading>>(ApiUrl + "/sensorreading/?count=20");
            var thresholds = await Http.GetFromJsonAsync<List<Threshold>>(ApiUrl + "/thresholds");
            var weatherReading = await Http.GetFromJsonAsync<IEnumerable<SensorReading>>(ApiUrl + "/weatherreading/?count=20");
            var zoneChangeForecast = await Http.GetFromJsonAsync<DateTime?>(ApiUrl + "/weatherforecast/nextzonechange");
            var weatherForecast = await Http.GetFromJsonAsync<IEnumerable<WeatherModel>>(ApiUrl + "/weatherforecast");
            //await Task.WhenAll(sensorReadingTask, thresholdsTask, weatherReadingTask, zoneChangeForecastTask);

            if (sensorReading != null)
            {
                TimeSinceLastSensorReadingString = ToHumanReadableString(DateTime.UtcNow - sensorReading.First().DateTimestampUtc);
                TimeSinceLastSensorReadingString = ToHumanReadableString(DateTime.UtcNow - sensorReading.First().DateTimestampUtc);
                TemperatureLastSensorReadingString = CelciusToFahr(sensorReading.First().TemperatureInCelcius).ToString() + "°F";
                HumidityLastSensorReadingString = decimal.Round(sensorReading.First().Humidity, 1).ToString() + "%";

            }
            if (weatherReading != null)
            {
                TimeSinceLastWeatherReadingString = ToHumanReadableString(DateTime.UtcNow - weatherReading.First().DateTimestampUtc);
                TemperatureLastWeatherReadingString = CelciusToFahr(weatherReading.First().TemperatureInCelcius).ToString() + "°F";
                HumidityLastWeatherReadingString = decimal.Round(weatherReading.First().Humidity, 1).ToString() + "%";
                weatherReadingBind = weatherReading;
            }
            if (thresholds != null)
            {
                thresholdBind = thresholds;
            }


            var inTheZone = false;
            if (thresholds != null && sensorReading != null)
            {
                sensorReadingBind = sensorReading;
                if (sensorReading.First().DateTimestampUtc > DateTime.UtcNow.AddMinutes(-10))
                {
                    inTheZone = InTheZoneService.IsInZone(thresholds, sensorReading.First().TemperatureInCelcius, sensorReading.First().Humidity);
                }
            }
            if (thresholds != null && weatherReading != null)
            {
                weatherReadingBind = weatherReading;
                if (weatherReading != null && weatherReading.First().DateTimestampUtc > DateTime.UtcNow.AddMinutes(-10))
                {
                    inTheZone = InTheZoneService.IsInZone(thresholds, weatherReading.First().TemperatureInCelcius, weatherReading.First().Humidity);
                }
            }
            InTheZoneString = inTheZone ? "Yes" : "No";
            if (zoneChangeForecast != null)
            {
                ZoneChangeForecastString = $"{zoneChangeForecast.Value.ToShortDateString()} {zoneChangeForecast.Value.ToShortTimeString()}";
            }
            if (weatherForecast != null)
            {
                weatherForecastBind = weatherForecast;
            }
        }
        catch (Exception ex)
        {

        }

        if (callStateHasChanged)
        {
            StateHasChanged();
        }
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        if (firstRender)
        {
            // Do work to load page data and set properties

        }
    }

    public string ToHumanReadableString(TimeSpan t)
    {
        if (t.TotalSeconds <= 1)
        {
            return $@"{t:s\.ff}s";
        }
        if (t.TotalMinutes <= 1)
        {
            return $@"{t:%s}s";
        }
        if (t.TotalHours <= 1)
        {
            return $@"{t:%m}m";
        }
        if (t.TotalDays <= 1)
        {
            return $@"{t:%h}h";
        }
        return $@"{t:%d}d";
    }

    public decimal CelciusToFahr(decimal c)
    {
        return decimal.Round(c * 1.8m + 32, 1);
    }
}